{% extends 'base.html.twig' %}
{% import 'seo/_jsonld.html.twig' as seo_jsonld %}

{% block jsonld %}
    {{ seo_jsonld.render(jsonld|default({})) }}
{% endblock %}

{% block critical_css %}
    <style>
        .blog-header { margin-bottom: var(--space-3); }
    </style>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="preload" href="{{ asset('styles/blog.css') }}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ asset('styles/blog.css') }}"></noscript>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/blog.js') }}" defer></script>
{% endblock %}

{% block body %}
<header class="blog-header">
    <h1>{{ title }}</h1>
</header>
{% include 'blog/_breadcrumbs.html.twig' with {breadcrumbs: breadcrumbs} %}
<section class="post-list">
    {% for post in posts %}
        {% include 'blog/_post_teaser.html.twig' with {post: post} %}
    {% else %}
        <p>No posts found.</p>
    {% endfor %}
</section>
{% endblock %}
