{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/blog.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/blog.js') }}" defer></script>
{% endblock %}

{% block body %}
<header class="blog-header">
    <h1>{{ title }}</h1>
</header>
<nav class="blog-breadcrumb" aria-label="Breadcrumb">
    <a href="{{ path('app_blog_index') }}">Blog home</a>
</nav>
<section class="post-list">
    {% for post in posts %}
        {% include 'blog/_post_teaser.html.twig' with {post: post} %}
    {% else %}
        <p>No posts found.</p>
    {% endfor %}
</section>
{% endblock %}
