{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/blocks/hero.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/blocks/sort-dropdown.css') }}">
    {# Reuse homepage groomer card/grid styles #}
    <link rel="stylesheet" href="{{ asset('styles/blocks/groomer-card.css') }}">
    <link rel="stylesheet" href="{{ asset('css/components/card-groomer.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/blocks/city-list.css') }}">
{% endblock %}

{% block body %}
  <div class="landing-page-container">
  </div>
{% endblock %}
