{% extends 'base.html.twig' %}

{% block title %}Groomers in {{ city.name }}{% endblock %}

{% block body %}
    <h1>Groomers in {{ city.name }}</h1>
    {% if groomers|length %}
        <ul>
        {% for groomer in groomers %}
            <li>
                <a href="/groomers/{{ groomer.slug }}">{{ groomer.businessName }}</a><br>
                <span>Service area: {{ groomer.serviceArea ?? '' }}</span><br>
                <span>Phone: {{ groomer.phone ?? '' }}</span><br>
                <span>Price range: {{ groomer.priceRange ?? '' }}</span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results yet.</p>
    {% endif %}
{% endblock %}
