{% extends 'base.html.twig' %}

{% block title %}Create Groomer Profile{% endblock %}

{% block body %}
  <section class="container" style="max-width:720px;margin:2rem auto;">
    <h1>Create your groomer profile</h1>
    <p>Fill in the basics to get started. You can edit details later.</p>

    {{ form_start(form) }}
      {{ form_row(form.city) }}
      {{ form_row(form.businessName) }}
      {{ form_row(form.about) }}
      {{ form_row(form.phone) }}
      {{ form_row(form.serviceArea) }}
      <button class="btn" type="submit" style="margin-top:1rem;">Create Profile</button>
    {{ form_end(form) }}
  </section>
{% endblock %}

